.outerBox{
  border-radius: 15px;
  padding: 4px;
<<<<<<< HEAD
  background-color: #0d1700;
=======
  background-color: #3d3d3d;
>>>>>>> 9a204e972a7db9152531c11b302825b412a59bde
  box-shadow: 5px 5px 5px 1px rgba(2, 0, 0, 0.2);
}