.box{
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 18px;
  padding: 20px;
  border-radius: 25px;
  overflow: none;
  background-color: #475948;
  box-shadow: 5px 5px 5px 1px rgba(255, 0, 0, 0.2);
}

.year{
  font-size: 12px;
}

.month{
  font-size: 15px;
  font-weight: bold;
}

.day{
  font-size: 18px;
  font-weight: bold;
}

.date{
  /* border: 2px solid red;  */
  float: left;
  width: 10%;
}

.title{
  float: center;
  width: 70%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.price{
  /* border: 2px solid red;  */
  font-size: 20px;
  font-weight: bold;
  float: right;
  width: 15%;
}

@media (max-width: 1000px ){
  .date{
    /* border: 2px solid red;  */
    float: left;
    width: 30%;
  }
  
  .title{
    width: 70%;
    font-size: 16px;
  }
  
  .price{
    /* border: 2px solid red;  */
    font-size: 18px;
    width: 30%;
  }
} 